/* Showcase */
#showcase-container {
  width: 335px;
}

/* Project */
.project-container {
  flex-direction: column;
  width: 335px;
}

.project-inner-container {
  width: 335px;
}

.technology-container {
  width: 265px;
  height: 170px;
}

.project-info {
  width: 335px;
}

.project-info-list {
  width: 335px;
}

.button-section {
  width: 335px;
}

/* Reference */
.references-container {
  height: 1200px;
  width: 335px;
}

.references-container {
  flex-direction: column;
}

.references-inner-container {
  width: 300px;
}

.reference-position {
  margin-left: 2rem;
  margin-right: 0.5rem;
}
/* About */
.about-container {
  width: 335px;
}

/* Contact */
.contact-container {
  width: 335px;
}

/* Footer */
.footer-container {
  width: 335px;
}
